.banner {
  background-size: cover;
  background-position: center;
  padding: 300px 0;
}

.banner h1 {
  margin: 0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  padding-bottom: 1rem;
  text-align: center;
  font-weight: 700;
  color: #ffbc00;
}

.banner h3 {
  color: white;
}

.banner p {
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
