.navbar-lewagon {
  justify-content: space-between;
  background: #252525;
  opacity: 1;
  z-index: 100;
  position: sticky;
  top: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-item {
  margin-right: 5px;
  margin-left: 15px;
}

.navbar-link {
  font-size: 18px;
  color: #f2f2f2;
  border-bottom: 3px transparent solid;
  padding-bottom: 0.5rem;
  transition: border-color 0.5s;
}

.navbar-link:hover {
  text-decoration: none;
  border-color: #ccc;
}

.current {
  color: #f2f2f2;
  border-color: #ffbc00;
}

.navbar-logo {
  color: #f2f2f2;
  padding: 0 15px;
  font-size: 30px;
  transition: 0.3s;
}

.navbar-logo:hover {
  text-decoration: none;
  color: #6930c3;
}
